---
import { JSDOM } from "jsdom";

export interface Props {
  title: string;
  data?: object;
}

import Layout from "../layouts/Layout.astro";
import { processVercelImage } from "../helpers";

export const prerender = true;
const { title = "", data } = Astro.props;

const response = await fetch(
  `${import.meta.env.BACKEND_URL}/${Astro.params.uri}`,
  {
    headers: {
      "Request-Page": "true",
    },
  }
);
const pageContent = await response.text();
const dom = new JSDOM(pageContent);
data.coreBlockInlineCSS = dom.window.document.querySelector(
  "#core-block-supports-inline-css"
).innerHTML;
---

<Layout
  title={title}
  enqueuedStylesheets={data.enqueuedStylesheets.edges || []}
  enqueuedScripts={data.enqueuedScripts.edges || []}
  data={data}
>
  <section class="container mt-28 mb-8 lg:mb-0">
    <h1 class="page-header">{title}</h1>
  </section>
  <section class="content-wrapper" set:html={data.content} />
</Layout>
