---
import Layout from "../layouts/Layout.astro";
import Accordion from "../components/Accordion.astro";
import Button from "../components/Button.astro";

import Image from "../components/Image.astro";
import { Image as AstroImage } from "astro:assets";
import qrCode from "../assets/qr-code.png";
import { fetchGQL } from "../helpers";

export interface Props {
  title: string;
  data?: object;
}

const { data: shopData } = await fetchGQL(`{
  pageBy(uri: "shop") {
    powerUpShop {
      highlightSection {
        highlightedProduct {
          ... on Product {
            featuredImage {
              node {
                sourceUrl (size: LARGE)
                mediaDetails {
                  width
                  height
                }
              }
            }
          }
        }
      }
    }
  }
}`);

const { highlightedProduct } = shopData.pageBy.powerUpShop.highlightSection;

const { title = "Get Involved", data } = Astro.props;
---

<Layout title={title} data={data}>
  <section class="container mt-28 mb-8 lg:mb-0 shm-grid">
    <h1 class="page-header col-span-3 mb-8 lg:mb-24">Get Involved</h1>
    <div class="col-start-10 col-end-15">
      <p class="body-text">
        There are many ways that you can be a part of this community.
      </p>
    </div>
  </section>
  <section class="container overflow-hidden">
    <img
      src="/img/get-involved-cover.png"
      class="max-md:h-[400px] w-auto max-md:max-w-none max-md:translate-x-[-50%]"
      style="aspect-ratio: 1479 / 455"
      alt=""
    />
  </section>
  <section class="container mt-12 lg:mt-28">
    <Accordion title="Collaborate with Us.">
      <div class="accordion-body">
        <div class="accordion-main-text">
          <p>
            We love working with people who are motivated to expand their
            practice, curious about the special needs community, open to
            discomfort and who embrace creative sparring.
          </p>
          <p>
            We push to discover children with special needs as equal
            collaborators, and not old fashioned “beneficiaries.”
          </p>
        </div>
        <div class="accordion-col-2 accordion-btn-wrapper">
          <p class="small-text text-grey">
            Take a look at our
            <br />previous collaborations
          </p>
          <Button
            href="/projects#artist-collaboration"
            hoverTheme="black"
            className="mt-4 mx-auto"
          >
            View Projects
          </Button>
        </div>
        <div class="accordion-col-3 accordion-btn-wrapper">
          <p class="small-text text-grey">
            Reach out to us
            <br />for a coffee chat
          </p>
          <Button
            href="mailto:hello@superherome.sg"
            hoverTheme="black"
            className="mt-4 mx-auto"
          >
            Email Us
          </Button>
        </div>
      </div>
    </Accordion>
    <Accordion title="Learn with us.">
      <div class="accordion-body">
        <div class="accordion-main-text">
          <p>
            The spirit of inclusion is not just limited to creative
            practitioners. We hope to share the knowledge we have gathered over
            the years with people who are passionate about being inclusive
            wherever they are.
          </p>
        </div>
        <div class="accordion-col-2 accordion-btn-wrapper">
          <p class="small-text text-grey">
            Take a look at the trainings we have conducted
          </p>
          <Button
            href="/projects#training"
            hoverTheme="black"
            className="mt-4 mx-auto"
          >
            View Projects
          </Button>
        </div>
        <div class="accordion-col-3 accordion-btn-wrapper">
          <p class="small-text text-grey">
            Looking to learn in a customised setting?
          </p>
          <Button
            href="mailto:hello@superherome.sg"
            hoverTheme="black"
            className="mt-4 mx-auto"
          >
            Email Us
          </Button>
        </div>
      </div>
    </Accordion>
    <Accordion title="Support us.">
      <div class="accordion-body">
        <div class="accordion-main-text">
          <p>
            Your support matters. Superhero Me is a tiny non-profit inclusive
            arts organisation with no parent funders.
          </p>
        </div>
      </div>
      <div
        class="pt-10 lg:pt-16 lg:pl-[13%] wide:pl-[18.75%] w-full flex flex-col lg:flex-row gap-y-16 gap-x-4"
      >
        <div class="flex-1">
          <Image
            width={highlightedProduct.featuredImage.node.mediaDetails.width}
            height={highlightedProduct.featuredImage.node.mediaDetails.height}
            src={highlightedProduct.featuredImage.node.sourceUrl}
            alt=""
          />
          <div class="accordion-btn-wrapper mt-8">
            <p class="">
              Support our creations and gift a meaningful community-produced
              product! All items come in limited quantities and proceeds go back
              towards supporting our inclusive arts work.
            </p>
            <Button href="/shop" className="mt-4 button--hover-black mx-auto">
              Go to Shop
            </Button>
          </div>
        </div>
        <div class="flex-1">
          <AstroImage
            src={qrCode}
            class="mx-auto block aspect-square w-auto"
            style={`width: ${
              (highlightedProduct.featuredImage.node.mediaDetails.height /
                highlightedProduct.featuredImage.node.mediaDetails.width) *
              100
            }%`}
            alt="The Core"
          />
          <div class="accordion-btn-wrapper mt-8">
            <p>
              Donate to the Power Up Fund to support our inclusive arts mission!
              Your donation goes towards a general pot of funds used to enable
              Superhero Me’s creative activities for our core community of
              children.
            </p>

            <p>
              To donate, simply scan the QR code and e-mail hello@superherome.sg
              with the headline &lt;Donation: Your name&gt; and we will email
              you a receipt.
            </p>

            <p>Donations are not tax deductible.</p>
          </div>
        </div>
      </div>
    </Accordion>
  </section>
</Layout>
