---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";

import { fetchGQL, getImageUrl } from "../helpers";
const { data } = await fetchGQL(`{
  pageBy(uri: "shop") {
    powerUpShop {
      highlightSection {
        backgroundColour
        highlightedProduct {
          ... on Product {
            id
            slug
            title
            featuredImage {
              node {
                sourceUrl (size: LARGE)
                mediaDetails {
                  width
                  height
                }
              }
            }
          }
        }
        subtitle
      }
    }
  }
  products {
    nodes {
      additionalProductFields {
        price
        totalQuantity
        weight
        snipcartProductId
        shortDescription
        additionalDetails {
          tabContent
          tabTitle
        }
        credits
      }
      id
      featuredImage {
        node {
          sourceUrl(size: MEDIUM_LARGE)
          mediaDetails {
            height
            width
          }
        }
      }
      highlightImage {
        highlightImage {
          sourceUrl(size: MEDIUM_LARGE)
          mediaDetails {
            width
            height
          }
        }
      }
      title
      slug
      productId
    }
  }
}`);

const options = data.pageBy;
const products = data.products.nodes;

const highlightSection = options.powerUpShop.highlightSection;
const highlightedProduct = highlightSection.highlightedProduct;

export interface Props {
  title: string;
}

const { title = "Power Up Shop" } = Astro.props;
---

<script define:vars={{ products }}>
console.log(products);
</script>

<Layout
  title={title}
  enqueuedStylesheets={data.enqueuedStylesheets.edges || []}
  enqueuedScripts={data.enqueuedScripts.edges || []}
  showCartButton={true}
>
  <div class="logo-wrapper py-1" slot="logo">
    <a class="group relative block" href="/">
      <img
        src="/img/logo-shop.png"
        class="h-10 group-hover:opacity-0"
        alt="Home"
      />
      <img
        src="/img/logo-shop.gif"
        class="h-10 absolute top-0 left-0 opacity-0 group-hover:opacity-100"
        alt="Home"
      />
    </a>
  </div>
  <div class="lg:flex lg:flex-row">
    <div
      class="lg:w-9/16 bg-cover bg-center"
      style={`aspect-ratio: ${highlightedProduct.featuredImage.node.mediaDetails.width} / ${highlightedProduct.featuredImage.node.mediaDetails.height};background-image: url(${highlightedProduct.featuredImage.node.sourceUrl})`}
    >
    </div>
    <div
      class="lg:flex-1 text-white flex flex-col items-center text-center justify-center py-16 px-7 lg:px-32 gap-y-8"
      style={`background-color: ${highlightSection.backgroundColour}`}
    >
      <h3 class="body-text lg:h3 uppercase font-gt-pressura">Hot drop</h3>
      <h2 class="h2 lg:big-text text-center">
        {highlightedProduct.title}
      </h2>
      <span class="smaller-text lg:body-text text-white">
        <Fragment
          class="smaller-text lg:body-text"
          set:html={highlightSection.subtitle}
        />
      </span>
      <Button
        wide={true}
        theme="white"
        href={`/shop/${highlightedProduct.slug}`}
        className="mt-4"
      >
        Learn more
      </Button>
    </div>
  </div>
  <div class="container mt-6 lg:mt-40">
    <div class="lg:flex flex-row flex-wrap gap-x-14 gap-y-8 -mx-5">
      {
        products.map((item) => {
          const featuredImage = getImageUrl(item.featuredImage.node, 600);
          return (
            <div class="product-card group">
              <div class="product-image-wrapper">
                <a href={`/shop/${item.slug}`}>
                  <img
                    class="group-hover:opacity-0 group-hover:scale-110 origin-center transition-all duration-300"
                    src={featuredImage.url}
                    style={`aspect-ratio: ${featuredImage.width} / ${featuredImage.height}`}
                    alt=""
                  />
                  <div
                    class="w-full h-full absolute top-0 left-0 bg-cover bg-center opacity-0 duration-300 group-hover:opacity-100"
                    style={`background-image: url(${item.highlightImage.highlightImage.sourceUrl})`}
                  />
                </a>
                <div class="w-full absolute bottom-0 flex flex-row">
                  <a href={`/shop/${item.slug}`} class="flex-1">
                    <div class="product-button bg-yellow hover:bg-green group-hover:translate-y-0 group-hover:opacity-100 ">
                      Learn more
                    </div>
                  </a>
                  <button
                    data-item-id={
                      item.additionalProductFields.snipcartProductId
                        ? item.additionalProductFields.snipcartProductId
                        : `${item.productId}-${item.slug}`
                    }
                    data-item-name={item.title}
                    data-item-price={item.additionalProductFields.price}
                    data-item-description={
                      item.additionalProductFields.shortDescription
                    }
                    data-item-weight={item.additionalProductFields.weight}
                    data-item-image={item.featuredImage.node.sourceUrl}
                    data-item-url={`/shop/${item.slug}`}
                    class="product-button bg-white hover:bg-black group-hover:translate-y-0 group-hover:opacity-100 snipcart-add-item"
                  >
                    Add to Cart | ${item.additionalProductFields.price}
                  </button>
                </div>
              </div>

              <a href={`/shop/${item.slug}`}>
                <h4 class="uppercase my-5">{item.title}</h4>
              </a>
            </div>
          );
        })
      }
    </div>
  </div>
  <Footer className="mt-16 lg:mt-28" />
</Layout>
