---
export interface Props {
  className?: string;
  openByDefault?: boolean;
  title: string;
  titleContainerClassName?: string;
  titleClassName?: string;
  buttonPosition?: "left" | "right";
  buttonClassName?: string;
  borderWidthClassName?: string;
}

const {
  title,
  openByDefault = false,
  titleClassName = "h2",
  titleContainerClassName = "flex flex-row w-full shm-grid items-center",
  borderWidthClassName = "lg:mr-12",
  buttonClassName = "text-[2.5rem]",
  buttonPosition = "left",
  className = "",
} = Astro.props;
---

<div
  x-data={`accordion(${openByDefault})`}
  x-bind="accordionWrapper"
  class={`accordion ${className}`}
>
  <slot name="top-border">
    <div
      class={`accordion-line lg:hidden h-[1px] w-auto mb-8 lg:mb-12 bg-black ${borderWidthClassName}`}
    >
    </div>
  </slot>
  <button
    class="block w-full hover:opacity-60 transition-all duration-300"
    x-bind="accordionBtn"
  >
    <div class={titleContainerClassName}>
      <div
        class={`accordion-header__btn-wrapper ${
          buttonPosition === "right" && "accordion-header__btn-wrapper--alt"
        }`}
      >
        <i x-bind="accordionIcon" class={`fal ${buttonClassName}`}></i>
      </div>

      <div class="accordion-header__title">
        <h2 class={titleClassName}>{title}</h2>
      </div>
    </div>
  </button>
  <div
    x-bind="accordionBody"
    class="overflow-hidden max-h-0 transition-all duration-300"
  >
    <slot />
  </div>
  <slot name="bottom-border">
    <div
      class={`accordion-line hidden lg:block h-[1px] w-auto mt-8 lg:mt-12 bg-black ${borderWidthClassName}`}
    >
    </div>
  </slot>
  <script>
    import Alpine from "alpinejs";
    import intersect from "@alpinejs/intersect";
    Alpine.plugin(intersect);

    document.addEventListener("alpine:init", () => {
      Alpine.data("accordion", (openByDefault) => ({
        collapsed: !openByDefault,
        show: false,
        accordionWrapper: {
          ["x-effect"]() {
            if (this.show) {
              this.$el.classList.remove("opacity-0", "translate-y-4");
            } else {
              this.$el.classList.add("opacity-0", "translate-y-4");
            }
          },
          ["x-intersect.half.once"]() {
            this.show = true;
          },
        },
        accordionIcon: {
          [":class"]() {
            return this.collapsed ? "fa-plus" : "fa-minus";
          },
        },
        accordionBtn: {
          ["@click"]() {
            this.collapsed = !this.collapsed;
          },
        },
        accordionBody: {
          [":class"]() {
            return this.collapsed ? "" : "max-h-infinite";
          },
        },
        init() {
          console.log(222, "accordion");
        },
      }));
    });
  </script>
</div>
